html, body {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}
header > * {
  display: inline-block;
}
.brand-name a {
  text-decoration: none;
}
.brand-name  a:link {
  color: #666;
}
.brand-name{
  border-bottom:2px solid #666;
  width:30%;
  height:50px;
  background-color:white;
  display:inline-block;
  text-align:center;
  vertical-align:top;
}

.brand-name a{
  text-align:center;
	vertical-align:middle;
	line-height:50px;
}
.nav-field {
  width:calc(70% - 6px);
  position: relative;
  left: -6px;
  height:50px;
  background-color:white;display:inline-block;
  border-bottom:2px solid rgb(3, 156, 250);
  -webkit-box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);
  -moz-box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);
  box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);
}

input {
  margin-left: 15px;
  height:50px;
  width:200px;
  vertical-align:top;display:inline-block;
  background:url(http://www.starbucks.co.jp/common/images/img-icon-search.png?eddff36ec4) no-repeat;background-position:0% center;
  padding-left:20px;
  border:none;
}

.lists,pre{background-color:#e0e0e0;}

.lists{
width:30%;height:110%;
background-color:#e0e0e0;float:left;
}

ul li {
border-color:black;
height:50px;
display:inline-block;
}

.nav-field ul li{border-left:2px solid #ccc;padding-left:10px;padding-right:10px;}

.nav-field ul{
  width:200px;
  height:50px;
  float:right;
  margin-top:0px;
}

.nav-field ul li a, .nav-field ul li button {
  padding-top:10px;
  top:50%;
  text-decoration: none;
  text-align:center;
	vertical-align:middle;
	line-height:50px;
}

.nav-field ul li a:link, .nav-field ul li button {color: #666;}

a {text-decoration: none;}
.nav-field > div{
  display:inline;
}

/* snippet detail */
.detail{
width:70%;height:600px;
background-color:white;float:right;
}

.detail > * {
  margin-left: 20px;
}
.detail .snippet_metadata > span, .detail .snippet_metadata > button {
  margin-right: 7px;
}

.detail .snippet_metadata > button {
  border: 1px solid #ccc;
  padding: 5px 7px;
}

.detail .snippet_tags {
  margin-top: 20px;
}

.detail .snippet_tags > li {
  height: auto;
  border: 0;
  padding: 7px 7px;
  background-color: #794747;
  color: #fff;
  margin-right: 7px;
}

pre{
  padding-left:10px;
  font-size:12px;
  height:200px;width:600px;
  margin:15px 0;
  padding-top:10px;padding-bottom:10px;
  overflow:auto;word-wrap: break-word;
}

.nav{
position:fixed;width:100%;top:0;
}

.snippets-field{
margin-top:50px;display:block;
}

.nav-field ul{text-align:right;}

.lists ul li{width:90%; padding-left:10px;}

.lists ul {padding-left:0px;}

.lists ul li:hover{
background-color:#ddd;}

.lists{overflow: scroll;position:fixed;width:30%;top:52px;}

.detail{overflow: auto;position:fixed;width:70%;top:52px;left:30%;}


.editor {
  margin-top: 50px;
}

