html, body {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

h1, h2, h3 {
  font-weight: 100;
}

header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}
header > * {
  display: inline-block;
}
input:focus {
  outline: 0;
}
code{
  display: inline;
}
pre code {
  display: block;
}
pre code, code {
  color: #fff;
  background-color:#333;
}

/* prettify dessert theme */
code .str { color: #ffa0a0 } /* string  - pink */
code .kwd { color: #f0e68c; font-weight: bold }
code .com { color: #87ceeb } /* comment - skyblue */
code .typ { color: #98fb98 } /* type    - lightgreen */
code .lit { color: #cd5c5c } /* literal - darkred */
code .pun { color: #fff }    /* punctuation */
code .pln { color: #fff }    /* plaintext */
code .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
code .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
code .atv { color: #ffa0a0 } /* attribute value - pink */
code .dec { color: #98fb98 } /* decimal         - lightgreen */


.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;    
  clear: both; 
  visibility:hidden;
}

.clearfix { display: inline-block; } 
.hide {display: none;}

.brand-name a {
  text-decoration: none;
}
.brand-name{
  border-bottom:2px solid #666;
  height: 50px;
  display:inline-block;
  text-align:center;
  vertical-align:top;
  position: fixed;
  z-index: 2;
}

.brand-name, .lists {
  width: 280px;
}
.snippet_detail {
  left: 280px;
  width: calc(100% - 280px);
}

.brand-name a{
  text-align:center;
	vertical-align:middle;
	line-height:50px;
}
.nav-field {
  margin-left: 280px;
  width:calc(100% - 286px);
  position: relative;
  height:50px;
  display:inline-block;
  /*border-bottom:2px solid rgb(3, 156, 250);
  -webkit-box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);
  -moz-box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);
  box-shadow:inset 7px 0px 15px -10px rgba(0,0,0,0.75);*/
}


.nav-field ul li{
  border-left:2px solid #ccc;
  padding-left:10px;
  padding-right:10px;
  display: inline-block;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.splash-screen h1,.splash-screen h3{
  font-weight: normal;
}
.splash-screen h1 {
  text-align: center;
  margin-bottom: 0;
  color: rgb(22, 109, 244);
}
.splash-screen h3 {
  display: block;
  width: 120px;
  margin: 0 auto;
  font-size: 16px;
}
.splash-screen h3 span {
  font-size: 150%;
}
.splash-screen .center {
  margin-top: 200px;
}

.nav-field ul li a {
  color: rgb(65, 95, 187);
}

.nav-field ul li a, .nav-field ul li button {
  padding-top: 10px;
  font-size: 14px;
  top: 50%;
  text-decoration: none;
  text-align: center;
	vertical-align: middle;
}

.nav-field ul li a:link, .nav-field ul li button {color: #666;}

a {text-decoration: none;}
.nav-field > div{
  display:inline;
}

/* snippet detail */
.snippet_detail{
  overflow: auto;
  position: relative;
  top: 52px;
  bottom: 0;
}

.snippet_detail .snippet_metadata span, .snippet_detail .snippet_metadata button {
  margin-right: 7px;
}

.snippet_detail .snippet_metadata button {
  border: 1px solid #ccc;
  padding: 2px 7px;
}
.snippet_detail .snippet_metadata .fa {
  margin-right: 3px;
}
.snippet_detail .snippet_metadata .btn-group {
  display: inline-block;
}
.snippet_detail .snippet_metadata button.destroy {
  background-color: rgb(155, 33, 33);
  color: white;
}
.snippet_detail .snippet_metadata .split{
  border-left: 1px solid #333;
  padding: 4px 0;
}

.snippet_tags > li {
  display:inline-block;
  height: auto;
  border: 0;
  padding: 1px 7px;
  background-color: #794747;
  color: #fff;
  position: relative;
  margin-right: 14px;
  margin-bottom: 6px;
}

.snippet_tags > li:after {
  top: 0;
  right: -9px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #794747;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
}

.nav{
position:fixed;width:100%;top:0;
}

.snippets-field{
margin-top:50px;display:block;
}

.nav-field ul{text-align:right;}

.lists {
  z-index: 2;
}
.lists ul li{
  width: 100%; 
  border: none;
}
.lists ul li.active {
  background-color: #333;
}
.lists ul li.active .index{
  background-color: #4AADF4;
  color: white;
}
.lists ul li a {
  width: 100%;
  display: block;
  vertical-align: middle;
  position: relative;
  padding: 5px 0;
}
.lists ul li a .index {
  position: absolute;
  top: 8px;
  display: inline-block;
  width: 28px;
  border: 1px solid #4AADF4;
  line-height: 1;
  text-align: center;
  padding: 6px 0;
  margin-left: 4px;
  color: #4AADF4;
}
.lists ul li a .title {
  margin: 0 5px 6px 40px;
  display: inline-block;
  min-height: 47px;
  font-size: 14px;
  width: calc(100% - 45px);
  color: #dddddd;
}

.lists ul {
  padding-left:0px;
}
.lists ul.snippets-list {
  position:absolute;top: 52px;bottom: 0px;overflow-y: scroll;
  margin: 0;
}

.lists{ 
  overflow: none;
  position: fixed;
  top: 52px;
  bottom: 0;
}
.lists .searchbox .fa{
  display: inline-block;
  width: 39px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  color: #dddddd;
}
.lists .searchbox input {
  color: #dddddd;
  font-size: 15px;
  display: inline-block;
  background-color: transparent;
  height:50px;
  width: calc(100% - 45px);
  vertical-align:top;
  padding: 0;
  border:none;
}
.lists ul.snippet_tags {
  margin-top: 5px;
}
.lists ul.snippet_tags li{
  width: auto;
}

.snippet_detail.editor_state {
  left:430px;
  width: calc(100% - 430px);
}
.editor {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 430px;
  left: -430px;
  height: 100%;
  background-color: rgba(200,200,200,0.85); 
  overflow: auto;
  transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  -moz-transition: all 0.5s ease 0;
  -webkit-transition: all 0.5s ease 0;
}
.editor.show {
  left: 0;
}

.editor .errors-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-top: 10px;
}

.editor .errors-message ul li {
  display: list-item;
}
.editor .errors-message ul {
  padding: 10px 10px 10px 20px;
  margin: 0;
  list-style-type: disc;
}

.editor .textbox-area{
  margin: 0 5px;
}
.editor h3 {
  font-size: 22px;
  font-weight: 200;
}
.editor .input-group {
  margin-top: 10px;  
}
.editor .input-group:first-child {
  margin-top: 30px;
}
.editor .input-group label {
  font-weight: bold;
  display: block;
  font-size: 15px;
}
.editor .input-group tags-input .host {
  margin: 0;
}
.editor .input-group .markdown-help {
  float: right;
  color: blue;
  font-weight: normal;
}
.editor .input-group .markdown-help a:hover {
  cursor: pointer;
}
.editor .input-group editor {
  display: block;
}
.editor .input-group input, .editor .input-group tags-input,.editor .input-group editor, .editor .errors-message {
  width: calc(100% - 8px);
  padding: 3px;
  font-size: 14px;
}
.editor .input-group input:focus {
  outline: initial;
}
.editor .input-group input {
  width: calc(100% - 17px);
  margin-left: 3px;
}
.editor .input-group editor{
  width: calc(100% - 15px);
} 

editor .clearfix, editor textarea {
  width: 100%;
}
editor textarea {
  height: 400px;
  resize: vertical;
}


editor .cover {
  border: 5px dashed #66A6CF; 
  background-color: white;
  z-index: 999;
  position: absolute;
  width: calc(100% - 29px);
  height: 400px;
  vertical-align: middle;
  text-align: center;
  line-height: 400px;
  display: none;
}
editor .cover:hover {
  display: block;
}
editor .cover > div {
  display: inline-block;
  font-size: 20px;
  color: #ccc;
  line-height: 1.5;
}

.markdown_help th,.markdown_help td{
  text-align: left;
  width: 167px;
  padding: 3px;
}
.markdown_help {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.markdown_help,.markdown_help th,.markdown_help td {
    border: 1px solid #ccc;
}
.markdown_help td {
  font-weight: normal;
}

/* Dialog CSS */ 
dialog-box .dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 200;
  opacity: 0.6;
}

.dialog-open {
  /* Blur and de-color */
    -webkit-filter: blur(5px) grayscale(50%);
}

dialog-box .dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

dialog-box .dialog {
  position: absolute;
  padding: 10px 50px;
  background: white;
  border-radius: 5px;
  min-height: 180px;
  top: 50px;
  z-index: 201;
  width: 550px;
  left: calc(50% - 325px);
}
dialog-box.markdown_help .dialog {
  width: 350px;
  left: calc(50% - 225px);
}
dialog-box .dialog small {
  color: inherit;  
}

dialog-box .dialog .error-message {
  color: red;
}

dialog-box .dialog .dialog-message {
  /*height: 90px;*/
}
dialog-box textarea {
  display: block;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  font-size: 15px;
}
dialog-box .dialog button.btn {
  text-align: center;
  min-width: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}
dialog-box .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
dialog-box .error {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

/* Theme color & styles */
.brand-name , .lists{
  background-color: #444;
}
.brand-name > a {
  color: rgb(143, 186, 253);
}
.lists .searchbox {
  background-color: #666;
}
.lists .searchbox .fa.ng-enter, .lists .searchbox .fa.ng-leave{
  animation:0s linear all;
  -webkit-animation: 0s linear all;
}
.snippet_detail {
  margin-top: 10px;
  text-align: center;
  min-width: 500px;
  display: block;
}
.snippet_detail > * {
  margin: 0 30px;
}
.snippet_detail .content {
  margin-top: 50px;
}
.snippet_detail.editor_state > * {
  margin: 0 10px;
}
.snippet_detail .snippet_metadata {
  font-size: 14px;
  margin: 15px 0;
}
.snippet_detail .content {
  text-align: left;
  font-size:14px;
}
.snippet_detail .content ul {
  padding-left: 40px;
}
.snippet_detail .content pre.prettyprint{
  padding: 10px;
  margin: 0;
  overflow: auto;
  word-wrap: break-word;
}
.snippet_detail .content code.prettyprint {
  padding: 0 5px;
  margin: 0 3px;
}
.snippet_detail share > div {
  display: inline-block;
}
.snippet_detail share li{
  display: inline-block;
  font-size: 20px;
}
.snippet_detail .content img{
  max-width: 100%;
}
.snippet_detail .ng-social {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.snippet_detail .ng-social a {
  padding: 4px;
}
.snippet_detail .ng-social span, .snippet_detail .ng-social .fa {
  margin: 0;
}

.fa.fa-twitter {
  color: #55acee;
}
.fa.fa-google-plus {
  color: #dd4b39;
}
.fa.fa-facebook-official {
  color: #3b5999;  
}

.snippet_detail .ng-social .ng-social-counter {
  display: none;
}
.snippet_tags {
  margin-top: 7px;
  font-size: 11px;
}

/* Large desktop */
@media (min-width: 1151px) { 
  .brand-name, .lists {
    width: 360px;
  }
  .snippet_detail {
    left: 360px;
    width: calc(100% - 360px);
  }

  .nav-field {
    width:calc(100% - 371px);
    margin-left: 360px;
  }
  .snippet_detail > * {
    margin: 0 55px;
  }
  .snippet_detail.editor_state {
    left: 550px;
    width: calc(100% - 550px);
  }
  .editor {
    width: 550px;
    left: -550px;
  }
}
