<div>
	<header>
		<div class="brand-name"><a ui-sref="snippets"><i class="fa fa-code fa-lg"></i> CODEGARAGE <small style="font-size:50%;">beta</small></a></div>
		<div class="nav-field">
			<div class="clearfix">
				<ul>
					<li ng-if="!user.logined"><a ng-click="loginEvent(loginedCallback)">ログイン</a></li>
					<li ng-if="user.logined"><a ng-click="newEvent()">新規作成 <small>{{symbol_cmd}}+B</small></a></li>
					<li ng-if="user.logined"><a ng-click="logoutEvent()">ログアウト</a></li>
					<li><a ng-click="feedbackEvent()">フィードバック</a></li>
				</ul>
			</div>
		</div>
	</header>
	

	<!-- ////////////////////////////////////////////// -->
	<!-- Lists -->
	<div class="lists">
		<div class="searchbox">
			<i ng-if="searching" class="fa fa-spinner fa-spin"></i>
			<i ng-if="!searching" class="fa fa-search"></i>
			<input 
				id="searchbox_input"
				ng-init="searchingElementLoaded()"  
				ng-change="searchingEvent(kw)" 
				ng-model="kw"
				type="text" />
		</div>
		<ul>
			<li 
				ng-repeat="_snippet in snippets" 
				ng-class="{active: _snippet.id === selected_snippet_id}" 
				on-finish-render="snippetsRenderedCallback" >
				<a ui-sref="snippets.single({id:_snippet.id})">
					<div class="index">{{$index + 1}}</div>
					<div class="title">
						{{_snippet.title}} <br />
						<ul class="snippet_tags">
							<li ng-repeat="_tag in _snippet.tags">{{_tag.name}}</li>
						</ul>
					</div>
				</a>
			</li>
		</ul>
	</div>
	
	<!-- ////////////////////////////////////////////// -->
	<!-- Dashboard -->		
	<ng-include 
		class="snippet_detail" 
		ng-if="global.state.is('snippets')" 
		src="'components/dashboard.html'">
	</ng-include>

	<!-- ////////////////////////////////////////////// -->
	<!-- Show -->
	<div ng-if="!global.state.is('snippets')">
		<div class="snippet_detail notfound" ng-if="snippet == null">
			<h1>Not found</h1>
		</div>
		<div class="snippet_detail" ng-if="snippet != null" ng-class="{editor_state: isEditorPage()}">

			<h1>{{snippet.title}}</h1>

			<ul class="snippet_tags">
				<li ng-repeat="_tag in snippet.tags">{{_tag.text}}</li>
			</ul>

			<!-- Editable user metadata -->
			<div ng-if="snippet.editable" class="snippet_metadata">
				<span><i class="fa fa-pencil-square-o fa-lg"></i>あなた</span>
				<span><i class="fa fa-clock-o fa-lg"></i>{{snippet.updated_at}}</span>

				<!-- スニペット更新 -->
				<div class="btn-group" ng-if="!global.state.is('snippets.new')" >
					<button ng-click="modifySnippetEvent(snippet.id)" ng-bind-html="modify_button_title"></button>
					<button ng-if="global.state.is('snippets.single.editor')" ng-click="cancelSnippetEvent(snippet.id)">取り消し <small>ESC</small></button>
					<button class="destroy" ng-click="destroySnippetEvent(snippet.id)">削除 <small>{{symbol_cmd}}+DEL</small></button>
				</div>

				<div class="btn-group" ng-if="global.state.is('snippets.new')">
					<button ng-click="createSnippetEvent()">新規作成 <small>{{symbol_cmd}}+S</small></button>
					<button ng-click="cancelSnippetEvent()">取り消し <small>ESC</small></button>
				</div>

				<span ng-if="!isEditorPage()" class="split"></span>

				<share ng-if="!isEditorPage()" title="snippet.title" description="minify(snippet.content)"></share>
			</div>

			<!-- Not-editable user metadata -->
			<div ng-if="!snippet.editable" class="snippet_metadata">
				<span>{{snippet.creator_name}}</span>
				<span>{{snippet.updated_at}}</span>

			</div>

			<div></div>
			
			<div class="content" markdown="snippet.content"></div>
		</div>
	</div>


	<!-- ////////////////////////////////////////////// -->
	<!-- Edit -->
	<div 
		ng-class="{show: isEditorPage()}"
		ng-controller="EditorController"
		class="editor" >
		<div class='textbox-area'>

			
			<div ng-if="errors != null" class="errors-message">
				<ul>
					<li ng-repeat="err in errors">{{err}}</li>
				</ul>
			</div>
			<div class='input-group'>
				<label>タイトル</label>
				<input type='text' placeholder='タイトル' name='title' ng-model="snippet.title" >
			</div>
			<div class='input-group'>
				<label>タグ</label>
				<tags-input name='tags' ng-model="snippet.tags" >
					<auto-complete source="loadTags($query)"></auto-complete>
				</tags-input>
			</div>
			<div class='input-group'>
				<label>
					<span style="float:left;">内容</span>
					<span class="markdown-help">
						<a ng-click="openMarkdownManual()">マークダウンの使い方？</a>
					</span>
				</label>
				<editor uploaded-callback="fileUploadedCallback" ng-model="snippet.content"></editor>
			</div>
		</div>
	</div>

	<!-- ////////////////////////////////////////////// -->
	<!-- dialog -->
	<dialog-box 
		ng-class="[dialogBox.type]"
		ng-if="dialogBox.show" 
		title="dialogBox.title" 
		message="dialogBox.message" 
		outside-clicked-event="dialogBox.outsideClickedEvent">

		<div ng-if="dialogBox.type == 'markdown_help'">
			<ng-include src="'components/markdown_help.html'"></ng-include>
			<button 
				class="btn btn-default"
				ng-click="dialogBox.noButtonClickEvent()" 
				ng-bind-html="dialogBox.noButtonText"></button>
		</div>

		<div ng-if="dialogBox.type == 'feedback'">
			<p ng-if="dialogBox.error_message != null" class="error">{{dialogBox.error_message}}</p>
			<textarea ng-model="dialogBox.feedback_message"></textarea>
			<button 
				class="btn btn-info" 
				ng-click="dialogBox.okButtonClickEvent()"
				ng-bind-html="dialogBox.okButtonText" >
			</button>
			<button 
				class="btn btn-default" 
				ng-click="dialogBox.noButtonClickEvent()"
				ng-bind-html="dialogBox.noButtonText">
			</button>
		</div>

		<div ng-if="dialogBox.type == 'delete'">
			<button 
				class="btn btn-danger" 
				ng-click="dialogBox.okButtonClickEvent()"
				ng-bind-html="dialogBox.okButtonText" >
			</button>
			<button 
				class="btn btn-primary" 
				ng-click="dialogBox.noButtonClickEvent()"
				ng-bind-html="dialogBox.noButtonText">
			</button>
		</div>
	</dialog-box>

	<!-- ////////////////////////////////////////////// -->
	<!-- Toast -->
	<!-- More detail on Toast, check it out by https://github.com/jirikavi/AngularJS-Toaster -->
	<!-- About Options, http://codeseven.github.io/toastr/demo.html -->
	<toaster-container toaster-options="{'position-class': 'toast-bottom-center', 'close-button': true}"></toaster-container>

</div>