<div class="markdown_help">
    
    <input id="mdSearchBox" class="form-control" type="text" placeholder="検索はこちら" ng-model="searchWord" >

</div>

<div ng-controller="markdownCtrl" class="markdown_help clearfix">   
    <ul>
        <li ng-repeat="md in mdList | filter:searchWord">
            <div class="md-title" ng-bind-html="md.title"></div>
            <div class="md-desc" ng-bind-html="md.description"></div>
            <div class="md-tag" ng-bind-html="md.tag"></div>
        </li>     
    </ul>
</div>


	<!-- <thead>
		<tr>
			<th>表示</th>
			<th>Markdown</th>
		</tr>
	</thead>
	<tbody>
		<tr><td><em>斜体</em></td><td>*斜体*</td></tr>
		<tr><td></td><td></td></tr>
		<tr>
			<td></td>
			<td>&gt; 引用</td>
		</tr>
		<tr><td><code><span class="str">インラインコード</span></code></td><td>`インラインコード`</td></tr>
		<tr>
			<td>
<pre class="prettify"><code style="padding:10px;"><span class="kwd">int</span><span class="pln"> a </span><span class="pun">=</span><span class="pln"> </span><span class="lit">2</span><span class="pun">;</span><span class="pln">
printf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln">a</span><span class="pun">);</span></code></pre>
			</td>
			<td>```<br />int a = 1;<br />printf("%d\n",a);<br/>```</td>
		</tr>
		<tr>
			<td><a href="#">mylink</a></td>
			<td>[mylink](http://www.リンク先.com)</td>
		</tr>
		<tr>
			<td>画像</td>
			<td>![alt](http://www.画像リンク.com)</td>
		</tr>
		<tr><td><h1>見出し h1</h1></td><td># 見出し h1</td></tr>
		<tr><td><h3>見出し h3</h3></td><td>### 見出し h3</td></tr>
		<tr><td><h5>見出し h5</h5></td><td>##### 見出し h5</td></tr>
		<tr>
			<td>
				<ul style="margin-left:20px;">
					<li>箇条書き</li>
				</ul>
			</td>
			<td>* 箇条書き</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>番号付きの箇条書き</li>
				</ol>
			</td>
			<td>1. 番号付きの箇条書き</td>
		</tr>
	</tbody>
</table>
<table class="markdown_help">
    <thead>
        <tr>
            <th>表示</th>
            <th>Markdown</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><em>斜体</em></td><td>*斜体*</td></tr>
        <tr><td><strong>太文字</strong></td><td>**太文字**</td></tr>
        <tr>
            <td><blockquote>引用</blockquote></td>
            <td>&gt; 引用</td>
        </tr>
        <tr><td><code><span class="str">インラインコード</span></code></td><td>`インラインコード`</td></tr>
        <tr>
            <td>
<pre class="prettify"><code style="padding:10px;"><span class="kwd">int</span><span class="pln"> a </span><span class="pun">=</span><span class="pln"> </span><span class="lit">2</span><span class="pun">;</span><span class="pln">
printf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln">a</span><span class="pun">);</span></code></pre>
            </td>
            <td>```<br />int a = 1;<br />printf("%d\n",a);<br/>```</td>
        </tr>
        <tr>
            <td><a href="#">mylink</a></td>
            <td>[mylink](http://www.リンク先.com)</td>
        </tr>
        <tr>
            <td>画像</td>
            <td>![alt](http://www.画像リンク.com)</td>
        </tr>
        <tr><td><h1>見出し h1</h1></td><td># 見出し h1</td></tr>
        <tr><td><h3>見出し h3</h3></td><td>### 見出し h3</td></tr>
        <tr><td><h5>見出し h5</h5></td><td>##### 見出し h5</td></tr>
        <tr>
            <td>
                <ul style="margin-left:20px;">
                    <li>箇条書き</li>
                </ul>
            </td>
            <td>* 箇条書き</td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>番号付きの箇条書き</li>
                </ol>
            </td>
            <td>1. 番号付きの箇条書き</td>
        </tr>
    </tbody>
</table> -->

<button 
    class="btn btn-default"
    ng-click="dialogBox.noButtonClickEvent()" 
    ng-bind-html="dialogBox.noButtonText"></button>