<div class="markdown_help">
    
    <input class="form-control" type="text" placeholder="検索はこちら">
    
</div>

<div class="markdown_help clearfix">
    <ul>
        <li>
            <div class="md-title">![alt](画像リンク)</div>
            <div class="md-desc">
                外部リンクを参照するさいに、linkを
                参照リンクに変えます。もしくは、
                画像をローカルからテキストに
                ドラッグ＆ドロップしてアップロード
                します。<br />
                ![myimg](img/link)
                <img width="50" src="https://d30y9cdsu7xlg0.cloudfront.net/png/30706-200.png">
            </div>
        </li>
        <li>
            <div class="md-title">**太文字**</div>
            <div class="md-desc">*（アスタリスク）二つを囲んだ文字が太文字になります。
                <br/>
                <br/>
                **サンプル** <strong>サンプル</strong>
            </div>
        </li>
        <li>
            <div class="md-title">*斜体*</div>
            <div class="md-desc">*（アスタリスク）一つを囲んだ文字が斜体になります。
                <br/>
                <br/>
                *サンプル* <em>サンプル</em>
            </div>
        </li>
        <li>
            <div class="md-title">[リンク](http://...)</div>
            <div class="md-desc">
                []括弧にリンクの表記と()括弧にリンクを書くとリンクになります。<br/>
                [link1](#) <a href="#">link1</a> <br />
                [link2](/snippet/1) <a href="/snippet/1">link2</a> <br />
                
            </div>
        </li>
        <li>
            <div class="md-title"># 見出し</div>
            <div class="md-desc">
                #とスペース１個を空けると該当の行は見出しになります。<br />
                # 見出し1　<h1>見出し1</h1><br/>
                ## 見出し2　<h2>見出し2</h2><br/>
                ### 見出し3　<h3>見出し3</h3><br/>
            </div>
        </li>
        <li>
            <div class="md-title">&gt; 引用</div>
            <div class="md-desc">&gt;(半角)とスペース１個を空けると該当の行は引用スタイルになります。<br />
            &gt; 引用&nbsp;&nbsp;<blockquote>引用</blockquote>
            </div>
        </li>
        <li>
            <div class="md-title">* 箇条書き</div>
            <div class="md-desc">行の始まりに*(アスタリスク)とスペース１つを空けると該当の行は箇条書きになります。<br /><br/>
                <div class="small-block">
                    * apple <br/>
                    * banana <br/>
                </div>
                <div class="small-block">
                    <ul>
                        <li>apple</li>
                        <li>banana</li>
                    </ul>
                </div>
            
            </div>
        </li>
        <li>
            <div class="md-title">```#include```</div>
            <div class="md-desc">
                コードを```で囲むとコード表記になります。例として<br/>
                <pre>```
int a = 2;
printf("%d",a);
```</pre>
                <br/>
                と書くと次のように表記されます
                <pre class="prettify"><code style="padding:10px;"><span class="kwd">int</span><span class="pln"> a </span><span class="pun">=</span><span class="pln"> </span><span class="lit">2</span><span class="pun">;</span><span class="pln">
printf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln">a</span><span class="pun">);</span></code></pre>
            </div>
        </li>
        <li>
            <div class="md-title">`echo`</div>
            <div class="md-desc">
                改行なしのコードを書く
                <code><span class="str">インラインコード</span></code>
            </div>
        </li>
    </ul>
</div>


	<!-- <thead>
		<tr>
			<th>表示</th>
			<th>Markdown</th>
		</tr>
	</thead>
	<tbody>
		<tr><td><em>斜体</em></td><td>*斜体*</td></tr>
		<tr><td></td><td></td></tr>
		<tr>
			<td></td>
			<td>&gt; 引用</td>
		</tr>
		<tr><td><code><span class="str">インラインコード</span></code></td><td>`インラインコード`</td></tr>
		<tr>
			<td>
<pre class="prettify"><code style="padding:10px;"><span class="kwd">int</span><span class="pln"> a </span><span class="pun">=</span><span class="pln"> </span><span class="lit">2</span><span class="pun">;</span><span class="pln">
printf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln">a</span><span class="pun">);</span></code></pre>
			</td>
			<td>```<br />int a = 1;<br />printf("%d\n",a);<br/>```</td>
		</tr>
		<tr>
			<td><a href="#">mylink</a></td>
			<td>[mylink](http://www.リンク先.com)</td>
		</tr>
		<tr>
			<td>画像</td>
			<td>![alt](http://www.画像リンク.com)</td>
		</tr>
		<tr><td><h1>見出し h1</h1></td><td># 見出し h1</td></tr>
		<tr><td><h3>見出し h3</h3></td><td>### 見出し h3</td></tr>
		<tr><td><h5>見出し h5</h5></td><td>##### 見出し h5</td></tr>
		<tr>
			<td>
				<ul style="margin-left:20px;">
					<li>箇条書き</li>
				</ul>
			</td>
			<td>* 箇条書き</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>番号付きの箇条書き</li>
				</ol>
			</td>
			<td>1. 番号付きの箇条書き</td>
		</tr>
	</tbody>
</table>
<table class="markdown_help">
    <thead>
        <tr>
            <th>表示</th>
            <th>Markdown</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><em>斜体</em></td><td>*斜体*</td></tr>
        <tr><td><strong>太文字</strong></td><td>**太文字**</td></tr>
        <tr>
            <td><blockquote>引用</blockquote></td>
            <td>&gt; 引用</td>
        </tr>
        <tr><td><code><span class="str">インラインコード</span></code></td><td>`インラインコード`</td></tr>
        <tr>
            <td>
<pre class="prettify"><code style="padding:10px;"><span class="kwd">int</span><span class="pln"> a </span><span class="pun">=</span><span class="pln"> </span><span class="lit">2</span><span class="pun">;</span><span class="pln">
printf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln">a</span><span class="pun">);</span></code></pre>
            </td>
            <td>```<br />int a = 1;<br />printf("%d\n",a);<br/>```</td>
        </tr>
        <tr>
            <td><a href="#">mylink</a></td>
            <td>[mylink](http://www.リンク先.com)</td>
        </tr>
        <tr>
            <td>画像</td>
            <td>![alt](http://www.画像リンク.com)</td>
        </tr>
        <tr><td><h1>見出し h1</h1></td><td># 見出し h1</td></tr>
        <tr><td><h3>見出し h3</h3></td><td>### 見出し h3</td></tr>
        <tr><td><h5>見出し h5</h5></td><td>##### 見出し h5</td></tr>
        <tr>
            <td>
                <ul style="margin-left:20px;">
                    <li>箇条書き</li>
                </ul>
            </td>
            <td>* 箇条書き</td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>番号付きの箇条書き</li>
                </ol>
            </td>
            <td>1. 番号付きの箇条書き</td>
        </tr>
    </tbody>
</table> -->

<button 
    class="btn btn-default"
    ng-click="dialogBox.noButtonClickEvent()" 
    ng-bind-html="dialogBox.noButtonText"></button>